.footer {
  background-color: #333;
  color: #fff;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerCompany {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    padding: 1rem;
  }

  .footerCompany {
    font-size: 0.8rem;
  }
}
